.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1cm;
  margin-left: 4%;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
}

.searchContainer {
  display: flex;
  width: 100%;
}

.search {
  width: 57.5%;
}

.left {
  width: 23.7%;
  display: flex;
  justify-content: flex-end;
}

.menuButton{
  bottom: 20px;
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 0;
    margin-left: 17px;
    padding: 10px 0;
  }
  .search {
    width: 79%;
  }
  .left {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
}

.container > div {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .container > div {
    flex: 1 1 100%;
  }
}
