.loading-animation-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set a high z-index value to make sure it appears on top */
}

.loading-text-top {
  font-size: 5rem; /* Adjusted for better readability */
  color: #ffffff; /* White color */
  padding-bottom: 1.3rem; /* Reduced padding for a more compact look */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle text shadow */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font stack */
  letter-spacing: 0.1em; /* Slight letter spacing for clarity */
  text-transform: uppercase; /* Uppercase text for emphasis */
  font-weight: bold; /* Added font weight for prominence */
}

.loading-text-bottom {
  font-size: 60px;
  color: white;
}


.loadinganimation {
  width: 200px;
  height: 200px;
  font-size: 200px; /* Adjust icon size */
  color: white; /* White color for icon */
  animation: spin 2s linear infinite; /* Apply rotation animation */
  perspective: 1000px; /* Define the perspective for 3D transformation */
}

@keyframes spin {
  from {
    transform: rotateY(0deg); /* Start at 0 degrees horizontally */
  }
  to {
    transform: rotateY(360deg); /* Rotate horizontally to 360 degrees */
  }
}

@media only screen and (max-width: 768px) {
  .loading-text-top {
    font-size: 12vw; /* Adjust font size for smaller screens */
    padding-bottom: 20vw; /* Adjust padding for smaller screens */
  }
  
  .loading-text-bottom {
    font-size: 10vw; /* Adjust font size for smaller screens */
    padding-top: 5vw; /* Adjust padding for smaller screens */
  }
}